/*-------------------------------------------------

general

-------------------------------------------------*/

body {
	background: #ddd;
	margin: 0;
	font-family: 'Arimo' , sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway' , sans-serif;
}

header {
	background-color: #000;
	color: #fff;						
}

header nav {
	padding: 25px 0 25px 0; 
}

header nav ul {
	list-style: none;
	padding: 0;
	margin: auto;
	width: 462px;
}

header nav ul li {
	display: inline-block;
	width: 150px;
	text-align: center;
}

header nav ul li a {
	color: #fff;
	text-decoration: none;
	padding: 10px 5px 10px 5px;
	margin-left: 10px;
	margin-right: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*-------------------------------------------------

home

-------------------------------------------------*/

.home-header {
	background-color: rgba(85,85,85,.75);
}

.hero-home {
	background-image: url(../img/homehero.jpg);
	height: 650px;
	background-size: cover;
	background-position: center;
}

.hero-home h1 {
	text-align: center;
	font-size: 80px;
	margin-top: 75px;
	text-transform: uppercase;
	color: rgba(85,85,85,.5);
}


/*-------------------------------------------------

mobile

-------------------------------------------------*/


@media (max-width: 768px) {
	header nav ul {
		width: 312px;
	}
	header nav ul li {
		width: 100px;
	}
}


















